.content {
  flex: 1;
  display: flex;
  align-items: center;
}

.container {
  margin-bottom: 20%;
}

.intro {
  color: var(--font-secondary);
  margin-bottom: 20px;
  font-size: 2rem;
}

.title,
.titleSecondary,
.subtitle {
  font-weight: 400;
  line-height: 1.4;
}

.title,
.titleSecondary {
  font-size: 4.8rem;
  @media screen and (min-width: 500px) {
    font-size: 5.8rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 7.8rem;
  }
}

.titleSecondary {
  color: var(--font-secondary);
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 4.8rem;
  }
}

.description {
  color: var(--font-third);
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: .5px;
  max-width: 700px;
  line-height: 1.5;
}

.link {
  text-decoration: none;
  color: var(--font-secondary);
  cursor: pointer;
}