.work {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.projectCards {
  margin-top: var(--top-padding);
  display: flex;
  flex-direction: column;
  gap: 100px;
}


.card {
  display: flex;
  max-width: 900px;
  gap: 30px;
}

.card:hover .description {
  width: 100%;
  transition: all .3s ease-in-out;
}

.cardReversed {
  flex-direction: row-reverse;
}

.imageContainer {
  flex: 3;
}

.imageWrapper {
  background-color: var(--color-description);

  & .image {
  }

  &:hover .image {
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
}

.image {
  display: block;
  width: 100%;
  z-index: -1;
  opacity: .7;
  transition: opacity .2s ease-in-out;
}

.descriptionContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  padding: 40px 0;
}

.descriptionContainerAlternative {
  align-items: flex-start;

  .description {
    text-align: left;
  }

  .links {
    justify-content: flex-start;
  }
}

.title {
  font-size: 2.4rem;
}

.description {
  width: 140%;
  text-align: right;
  padding: 20px 10px;
  line-height: 1.5;
  position: relative;
  z-index: 1;
  color: var(--font-description);
  transition: all .3s ease-in-out;
  background: var(--color-description);
}

.techStack {
  display: flex;
  color: var(--font-third);
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.links {
  display: flex;
  gap: 25px;
  font-size: 2.4rem;
  justify-content: flex-end;
}

.foldersHeader {
  font-size: 2.3rem;
  text-decoration: none;
  color: var(--font-secondary);
  margin-bottom: var(--spacing-l);
  display: block;
}

.folderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.projectFolder {
  max-width: 300px;
  background: var(--color-primary-darker);
  padding: 25px 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  transition: color .2s ease-in-out;

  &:hover .folderName {
    color: var(--font-secondary);
    transition: color .2s ease-in-out;
  }
}

.folderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--font-third);

}

.folderIcon {
  font-size: 4rem;
  color: var(--font-third);
}

.stackList {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1.3rem;
  color: var(--font-third);
}

.folderName {
  font-size: 2rem;
}

.folderDescription {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--font-third);
}

.projectWrapper {
  padding-top: var(--top-padding);
  min-height: 100vh;

}

.projectLink {
  text-decoration: none;
  color: var(--font-secondary);
  transition: all .2s ease-in-out;

  &:hover {
    color: var(--font-primary);
    transition: all .2s ease-in-out;
  }
}