.container {
  margin: 30px 20px;
  display: flex;
  gap: 30px;
  max-width: 700px;
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  padding-left: 10px;
  border-left: 1px solid var(--font-third);
  position: relative;
}

.indicator {
  position: absolute;
  top: -49px;
  left: -2px;
  height: 49px;
  width: 3px;
  background: var(--font-secondary);
}

.menuButton {
  font-size: 1.4rem;
  background: none;
  border: none;
  padding: 15px;
  text-align: left;
  color: var(--font-primary);
  cursor: pointer;

  &Active {
    color: var(--font-secondary);
  }
}

.description {
  font-size: 1.5rem;
}

.techstackColumn {
  margin-top: 15px;
  list-style: none;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.duty {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.dutyPoint {
  font-size: 2rem;
  color: var(--font-secondary);
  transform: rotate(90deg);
  margin-right: 10px;
}

.bootcamp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  font-size: 1.8rem;
  line-height: 1.4;
}

.subHeader {
  color: var(--font-third);
  font-size: 1.5rem;
  line-height: 1.4;
}

.link {
  text-decoration: none;
  color: var(--font-secondary);
  cursor: pointer;
}