.settings-container {
  position: fixed;
  left: 427px;
  top: calc(50% - 230px);
  transform: translateY(-50%);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;

}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--font-third);
  border-radius: 50%;
  font-size: 2rem;
  border: 1px solid var(--font-third);
  background: transparent;
  cursor: pointer;
  width: 35px;
  height: 35px;
}