.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appWrapper {
  @media screen and (min-width: 1200px) {
    margin-left: 550px;
    margin-right: 100px;
  }
}