@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


:root {
    --font-family-primary: 'Inter', sans-serif;

    --font-size-base: 1.6rem;

    --space-between-sections: 4rem;


    --color: 0, 0%; /*the base color*/
    --l: 100%; /*the initial lightness*/
    --color-primary: hsl(var(--color), var(--l));
    --color-primary-darker: hsl(var(--color), calc(var(--l) - 10%));
    --color-secondary: #1dc275;
    --font-primary: #1f1f1f;
    --font-secondary: #1dc275;
    --font-third: #636363;
    --font-tooltip: #4b4b4b;
    --font-dimmed: #c9c9c9;
}

.darkmode {
    --color: 0, 0%; /*the base color*/
    --l: 12%; /*the initial lightness*/
    --color-primary: hsl(var(--color), var(--l));
    --color-primary-darker: hsl(var(--color), calc(var(--l) - 1%));
    --font-primary: #fff;
    --font-dimmed: #383838;
}

.yellow {
    --font-secondary: #eab515;
}

.orange {
    --font-secondary: #ff7338;
    --font-tooltip: #1d1d1d;
}

.red {
    --font-secondary: #f31313;
    --font-tooltip: #dbdbdb;
}

.blue {
    --font-secondary: #13c5fd;
}

.green {
    --font-secondary: #1dc275;
}

.pink {
    --font-secondary: #ff99cc;
    --font-tooltip: #3f3f3f;
}

.purple {
    --font-secondary: #493ee5;
    --font-tooltip: #dbdbdb;
}

* {
    font-family: var(--font-family-primary);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    background: #1f1f1f;
}

html::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

body {
    background: var(--color-primary);
    color: var(--font-primary);
    transition: all .1s ease-in-out;
    font-size: var(--font-size-base);
}