.color-select {
  display: flex;
  align-items: center;
  gap: 15px;
}

.other-colors {
  display: flex;
  gap: 15px;
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &--active:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    border: 1px solid var(--font-third);
    border-radius: 50%;
  }

  &--pallet:hover:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    border: 1px solid var(--font-secondary);
    border-radius: 50%;
  }

  &--yellow {
    background: #e4af12;
  }

  &--orange {
    background: #fe6f1d;
  }

  &--red {
    background: #f31313;
  }

  &--blue {
    background: #13c5fd;
  }

  &--purple {
    background: #493ee5;
  }

  &--green {
    background: #29e98c;
  }

  &--pink {
    background: #ff99cc;
  }

}

.settings-icon {
  display: flex;
  align-items: center;
}

.settings-icon__container {
  color: var(--font-third);
  font-size: 2.6rem;
  transition: color .2s ease-in-out;
  padding: 3px;
  margin-left: 10px;

  display: flex;
  align-items: center;

  &:hover {
    color: var(--font-secondary);
    transition: color .2s ease-in-out;
  }
}