.color-select {
  display: flex;
  align-items: center;
  gap: 15px;
}

.other-colors {
  display: flex;
  gap: 15px;
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &--active:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    border: 1px solid var(--font-third);
    border-radius: 50%;
  }

  &--pallet:hover:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    border: 1px solid var(--font-secondary);
    border-radius: 50%;
  }

  &--yellow {
    background: #e4af12;
  }

  &--orange {
    background: #f57722;
  }

  &--red {
    background: #f31313;
  }

  &--blue {
    background: #13c5fd;
  }

  &--purple {
    background: #493ee5;
  }

  &--green {
    background: #19b068;
  }

  &--pink {
    background: #ff99cc;
  }

}

.settings-icon {
  display: flex;
  align-items: center;
}

.settings-icon__container {
  color: var(--font-third);
  font-size: 2.6rem;
  transition: color .2s ease-in-out;
  padding: 3px;
  margin-right: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  z-index: 33;
  background: var(--color-primary);
  position: relative;
  border: none;

  &:before {
    content: "";
    border: 1px solid var(--font-third);
    position: absolute;
    top: calc(50% - 25px);
    left: -7px;
    height: 50px;
    width: 25px;
    background: var(--color-primary);
    z-index: -1;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    border-right: none;
  }

  &:hover {
    color: var(--font-secondary);
    transition: color .2s ease-in-out;
  }
}